<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="P2622C"></ion-menu-button>
    </ion-buttons>
    <ion-title>Anunciantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-card *ngFor="let anunciante of anunciantes" (click)="openBrowser(anunciante.url)">
      <ion-card-header>
        <ion-card-title>
          {{ anunciante.texto_alt }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="anunciante.imagen" [alt]="anunciante.texto_alt">
        </ion-img>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>
