<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="P2622C">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Estado invitado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding" [ngClass]="isModeLight ? 'content-light-mode' : '' ">
  <div class="main-content">

  <ion-label class="text-description">
    <section [ngClass]="isModeLight ? 'light-mode-titulos' : ''">
      <h1 class="titulos" >¡Bienvenidos! 📚✨</h1>
      <p>
        Nos congratula enormemente y no deja de suscitarnos un gran entusiasmo —no exento de
        cierta felicidad— la presencia de <strong>Sinaloa</strong> como estado invitado a la <strong> 45 edición de la Feria
        Internacional del Libro del Palacio de Minería </strong>, que a través de su Facultad de Ingeniería,
        organiza la Universidad Nacional Autónoma de México, y que este 2024 se celebra  <strong>del 22
        de febrero al 4 de marzo.</strong>
      </p>
    </section>
    <div class="separator" [ngClass]="isModeLight ? 'light-mode-separator' : '' ">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <section [ngClass]="isModeLight ? 'light-mode-titulos' : ''">
    <h1 class="titulos" >¡Exploremos Sinaloa! 📖🌟</h1>
    <p>
      El presente encuentro es una oportunidad y un espacio importante
      para <strong>mostrar</strong>, <strong>compartir</strong>, y <strong>generar</strong> un discurso —muchos discursos— en torno a
      <strong>la poesía</strong>, <strong>el ensayo</strong>, <strong>la narrativa</strong> y, en general, la multifacética literatura que actualmente se
      escribe en el fértil territorio de los once ríos; que además de productivo en términos
      agrícolas e industriales; lo es también, en el terreno de las <strong>artes</strong>, la <strong>educación</strong>, la <strong>cultura</strong>, la
      <strong>investigación académica</strong> y el <strong>ejercicio del pensamiento</strong>.
      El Palacio de Minería es un lugar de encuentro y en la presente edición de esta fiesta
      de los libros somos los invitados especiales. Acogemos con mucha alegría y
      agradecimiento la invitación.
    </p>
    </section>
    <div class="separator" [ngClass]="isModeLight ? 'light-mode-separator' : '' ">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <section [ngClass]="isModeLight ? 'light-mode-titulos' : ''">
    <h1 class="titulos" >¡Descubre nuestras joyas literarias! 📚✨</h1>
    <p>
      Nos sentimos en forma. Es decir, en las mejores condiciones
      para <strong> compartir y departir</strong> con los anfitriones y demás convidados a <strong>este gran banquete
        bibliográfico y literario.</strong> Decenas de títulos y autores nos acompañan en esta estancia. Los
      libros —como si de panes se tratara— que podemos ofrecer, son múltiples; y los <strong>precios</strong> 
      que manejamos, <strong>accesibles</strong> para todo lector-lectora que tenga interés en adquirirlos. Nadie
      que nos visite podrá marcharse sin llevarse al menos dos, tres; y, de ser posible, una decena
      o más de los volúmenes expuestos.
    </p>
    </section>
    <div class="separator" [ngClass]="isModeLight ? 'light-mode-separator' : '' ">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <section [ngClass]="isModeLight ? 'light-mode-titulos' : ''">
    <h1 class="titulos">Referentes de Sinaloa 🌟</h1>
    <p> La cultura y el quehacer poético literario en Sinaloa tiene una larga historia.
      Durante el siglo XIX y principios del XX, destacan los nombres de pensadores y poetas
      como <strong>Pablo de Villavicencio</strong>, <strong>El Payo del Rosario</strong>, <strong>Antonio Rosales</strong>, <strong>Ramírez, El
      Nigromante</strong>, <strong>Jesús G. Andrade</strong> (considerado el gran poeta romántico de Sinaloa). En plena
      época porfiriana, amparados en un modernismo que introdujo estilos, formas y ritmos,
      encontramos a <strong>Genaro Estrada</strong>, <strong>Sixto Osuna</strong>, <strong>Cecilia Zadí</strong> y <strong>Enrique González Martínez</strong>,
      entre otros. Posteriormente, tenemos a <strong>Enrique González Rojo</strong> y <strong>Gilberto Owen</strong>. En esta
      lista cabría incluir también a <strong>Norma Bazúa</strong>, <strong>Jaime Labastida</strong>, <strong>Ana Belén López</strong>, <strong>Mario
      Bojórquez</strong>, <strong>A.E. Quintero</strong>, <strong>Jesús Ramón Ibarra</strong>, <strong>Rubén Rivera</strong>, <strong>César Cañedo</strong>, <strong>Mijail
      Lamas</strong>, entre otros muchos, pero no nos alcanzaría el espacio aquí disponible para citar
      todos los nombres que merecen ser citados y que actualmente conforman el gran linaje de
      la poesía sinaloense.
      <br><br>
      En lo que a narrativa se refiere, el canon pasa por <strong>Herberto Sinagawa</strong>, <strong>Antonio
      Nakayama</strong>, <strong>Héctor R. Olea</strong>, <strong>Dámaso Murúa</strong>, <strong>Inés Arredondo</strong>, <strong>César López Cuadras</strong>, <strong>Irene
      Montijo</strong>, <strong>Leónidas Alfaro</strong>, <strong>Yolanda Villaseñor</strong>, <strong>Rubén Rocha Moya</strong> (actual gobernador de
      Sinaloa), <strong>Cecilia Pablos</strong>, <strong>Rosy Paláu</strong>, <strong>Élmer Mendoza</strong>, <strong>Alfonso Orejel</strong>, <strong>Dina Grijalva</strong>, <strong>Juan
      Esmerio Navarro</strong>, <strong>Raquel Cota</strong>, <strong>César Ibarra</strong>, <strong>Javier Valdez</strong>, <strong>Juan José Rodríguez</strong>, <strong>Aleyda
      Rojo</strong>, <strong>Eduardo Ruiz</strong>, <strong>Ernestina Yépiz</strong>, <strong>Geney Beltrán</strong>, <strong>Agustina Valenzuela</strong>, <strong>Miguel Tapia</strong> y
      una enorme lista de jóvenes talentos que en los últimos años se han afianzado dentro de las
      letras regionales y que ya son parte de ese amplio escenario que es la literatura en México.
    </p>
    <br>
    <p>
      En este sentido, pensar que la cultura, la poesía y la literatura sinaloense es periférica
      no sería del todo real. Nos asumimos como centro. Todo sucede dentro y al mismo tiempo,
      a nuestro alrededor. <strong>Somos un territorio abierto y en lo que a conocimiento, arte, creación y
      ejercicio de pensamiento se refiere no creemos en fronteras ni en límites impuestos.</strong>

      Estamos en la FILPM para compartirlo todo. Además, nuestro espacio ha sido diseñado
      para compartirse con ustedes; y el programa a realizar: presentaciones de libros,
      conferencias, conversatorios, lecturas en voz alta, también. <strong>Visítennos.</strong> Vengan a conversar
      con nosotros y llévense nuestros libros para que esa conversación continúe por siempre.
    </p>
    </section>
  </ion-label>


  </div>
  <div class="logo-container" [ngClass]="isModeLight ? 'light-mode-img-logo' : '' ">
    <ion-img src="../../../assets/images/Sinaloa-936x362.png"></ion-img>
  </div>
  

</ion-content>
