/* Fuentes */
@font-face {
  font-family: 'Didot';
  src: url('../assets/fonts/Didot/Didot.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('../assets/fonts/Gotham/Gotham-Black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../assets/fonts/Gotham/GothamNarrow-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../assets/fonts/Gotham/GothamNarrow-Medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Ultra';
  src: url('../assets/fonts/Gotham/GothamNarrow-Book.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 10px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(101,49,101);
}


// cambian el color de icono de edo invitado y bienvenido

#estadoInvitado.selected ion-icon{
  content: url('../assets/icon/sinaloa-icon-selected.svg');
}
#bienvenida.selected ion-icon{
  content: url('../assets/icon/bienvenidos-icon-selected.svg');
}


ion-menu.md ion-item.selected ion-icon {
  color: rgb(239, 219, 178);
}

ion-menu.md ion-item ion-icon {
  color: rgb(101,49,101);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 10px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: rgb(239, 219, 178);
}

ion-menu.ios ion-item.selected {
  --background: rgba(101,49,101);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: rgb(101,49,101);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
  background: var(--P7506CP);
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: rgb(239, 219, 178);
}

ion-item {
  margin-top: -1px;
  margin-bottom: -1px;
}

.radio-container{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-title{
  border-radius: 10%;
  padding: 10px;
}

.controls{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.list-item{
  color: white;
  --background: #333
}

.list-header{
  font-size: 18px !important;
  font-weight: 400;
  background: rgb(113 98 138 / 15%);;
  padding: 10px 0px 10px 10px;
}