<!-- FILEPATH: /Users/siw/Documents/FILPM45/FILM45-APP/src/app/components/not-found/not-found.component.html -->

<div class="error-message">
  <p>Parece que el contenido que buscabas no ha podido cargarse o no existe en la base de datos.</p>
  <ion-img src="../../../assets/images/not found.png" style="padding:20px; width: 50%;"></ion-img>
    <!--
      Inluir este link para dar crédito al autor de la imagen, debe incluir en la sección de créditos de la app
      o en la sección de créditos de la página web y en marketplace donde se publique la app.
    <a href="https://www.flaticon.com/free-icons/page-not-found" title="page not found icons">Page not found icons created by Freepik - Flaticon</a>
    -->
  <p>Por favor, intenta de nuevo más tarde.</p>
</div>

