.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Gotham-Medium';
}