<!-- FILEPATH: /Users/siw/Documents/FILPM45/FILM45-APP/src/app/components/not-found/not-found.component.html -->

<div *ngIf="tipo == 'actividades'" class="error-message ion-padding">
  <p>Parece que el contenido que buscabas no ha podido cargarse.</p>
  <ion-img src="../../../assets/images/not found.png" style="padding:20px; width: 50%;"></ion-img>
    <!--
      Inluir este link para dar crédito al autor de la imagen, debe incluir en la sección de créditos de la app
      o en la sección de créditos de la página web y en marketplace donde se publique la app.
    <a href="https://www.flaticon.com/free-icons/page-not-found" title="page not found icons">Page not found icons created by Freepik - Flaticon</a>
    -->
  <p>Por favor, intenta de nuevo más tarde.</p>
</div>

<div *ngIf="tipo == 'agenda'" class="error-message ion-padding">
  <p>Tu agenda está vacía.</p>
  <ion-img src="../../../assets/images/agenda-not-found.png" style="padding-top: 40px; width: 50%;"></ion-img>
  <!--
    Inluir este link para dar crédito al autor de la imagen, debe incluir en la sección de créditos de la app
    o en la sección de créditos de la página web y en marketplace donde se publique la app.
    https://www.flaticon.es/icono-gratis/esquema-de-la-pagina-vacia-del-calendario_58778
  -->
  <p>Consulta el programa general, categorías o salones y empieza a agendar las actividades de tu interés.</p>
</div>

