.biggest-text{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.header{
    padding: 20px;
    margin-bottom: 10px;
}
.light-mode-content{
    --background: #51284F;
}

.content{
    font-size: 1rem;
    margin-top: 10px;
    padding:25px 30px 30px 30px;
    color: #fff;
}