<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="P2622C"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="isModeLight ? 'light-mode-content' : '' ">

  <div style="color: #EFDBB2;">
    <div class="header">
      <h1 style="text-align: center; padding: 0; font-size: 30px !important;"> <div class="biggest-text">¡Bienvenidos!</div></h1>
    </div>
    <div class="content">

      <h2 style="text-align: center;">La Feria Internacional del Libro del Palacio de Minería llega a su 45 edición.</h2>
      <p style="text-align: justify;">
      La Feria es organizada anualmente con el objeto de dar a conocer a la sociedad en su conjunto y a la comunidad universitaria, las novedades de la industria editorial mexicana.
      <br><br>
      Su incomparable sede, el Palacio de Minería, monumento del siglo XVIII ubicado en el corazón mismo de la vida cultural de nuestro país permite, en un ambiente auténtico de Feria de Libro, dar cita a importantes editores y profesionales en la materia que ofrecen a un público siempre fiel una amplia y variada oferta editorial.
      <br>
      <br>
      Uno de los ejes fundamentales de la Feria es su notable programa cultural, que figura entre los mayores de todas las ferias del libro del mundo. Debido a su gran aceptación continuarán las Jornadas Juveniles, los Ciclos Científicos así como los diversos programas de lectura.
      <br>
      <br>
      La FILPM, organizada por la Universidad Nacional Autónoma de México a través de la Facultad de Ingeniería, cuenta con el apoyo de importantes dependencias universitarias; de la Cámara Nacional de la Industria Editorial Mexicana; de la Secretaría de Cultura, así como del Gobierno de la Ciudad de México.
      <br>
      <br>
      Los invitamos una vez más a participar activamente en la Feria de Minería dando a conocer sus novedades editoriales y promoviendo cada una de ellas mediante las distintas actividades que se realizan en el marco de la Feria, así como en sus diferentes opciones publicitarias. Los invitamos a seguir siendo parte de la mayor tradición cultural en materia de libro y fomento a la lectura que se lleva a cabo en la Ciudad de México.
      </p>
    </div>
    <div class="img-footer">
      <ion-img src="../../../assets/images/FILPM-45-1284x504.png">

      </ion-img>
    </div>
</div>

</ion-content>
