<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="P2622C"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa del evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-not-found *ngIf="!found" [ngClass]="(isModeLight) ? 'light-mode-content' : 'dark-mode-content' "/>
  <ion-segment *ngIf="found" [(ngModel)]="plantaSeleccionada" class="segment-container-plantas" mode="md" (ionChange)="plantaChange()">
    <ion-segment-button value="plantaBaja">
      Planta Baja
    </ion-segment-button>
    <ion-segment-button value="plantaAlta">
      Planta Alta
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="plantaSeleccionada === 'plantaBaja' && found" >
    <ion-segment [(ngModel)]="seccionPBSeleccionada" class="segment-container-secciones" mode="md"  (ionChange)="seccionPBChange(seccionPBSeleccionada)">
      <ion-segment-button *ngFor="let section of sectionsPlantaBaja" [value]="section" style="margin-right: 5px;">
        {{ section }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngIf="plantaSeleccionada === 'plantaAlta' && found">
    <ion-segment [(ngModel)]="seccionPASeleccionada" class="segment-container-secciones" mode="md" (ionChange)="seccionPAChange(seccionPASeleccionada)">
      <ion-segment-button *ngFor="let section of sectionsPlantaAlta" [value]="section" style="margin-right: 5px;">
        {{ section }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <pdf-viewer *ngIf="plantaSeleccionada === 'plantaAlta'"
              [src]="srcPA"
              [render-text]="true"
              [original-size]="clicked"
              [show-all]="true"
              [zoom]="zoomLevel"
              class="pdf-viewer"
              [ngClass]="{'pdf-viewer': !clicked, 'pdf-viewer-clicked': clicked}"
  ></pdf-viewer>
  <pdf-viewer *ngIf="plantaSeleccionada === 'plantaBaja'"
              [src]="srcPB"
              [render-text]="true"
              [original-size]="clicked"
              [show-all]="false"
              [zoom]="zoomLevel"
              class="pdf-viewer"
              [ngClass]="{'pdf-viewer': !clicked, 'pdf-viewer-clicked': clicked}"
  ></pdf-viewer>
  <div class="ion-padding">
    <ion-button color="P2622C" fill="outline" size="small" (click)="adjustZoom(1.2)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    <ion-button color="P2622C" fill="outline" size="small" (click)="adjustZoom(0.8)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
    <ion-button color="P2622C" *ngIf="!clicked" fill="outline" size="small" (click)="fullscreen()">
      <ion-icon name="expand-outline"></ion-icon>
    </ion-button>
    <ion-button color="P2622C" *ngIf="clicked" fill="outline" size="small" (click)="fullscreent()">
      <ion-icon name="contract-outline"></ion-icon>
    </ion-button>
    <ion-button color="P2622C" fill="outline" size="small" (click)="downloadPDF()">
      <ion-icon name="download-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-list *ngIf="plantaSeleccionada == 'plantaBaja'"  class="ion-padding">
    <div class="item-custom" *ngFor="let stand of standsPlantaBajaFiltered">
      <ion-label style="font-weight: 500;">Stand {{ stand.key }}</ion-label>
      <ion-label style="font-weight: 800; color:#9c209c">{{ stand.value.nombre}}</ion-label>
    </div>
  </ion-list>
  <ion-list *ngIf="plantaSeleccionada == 'plantaAlta'"  class="ion-padding">
      <div class="item-custom" *ngFor="let stand of standsPlantaAltaFiltered">
        <ion-label style="font-weight: 500;">Stand {{ stand.key }}</ion-label>
        <ion-label style="font-weight: 800; color:#9c209c">{{ stand.value.nombre}}</ion-label>
      </div>
  </ion-list>
</ion-content>
