.actividad-item{
    width: 100%;
    flex-direction: column !important;
    text-align: start;
    padding: 16px;
}
.fab-button{ 
    background:#653165 !important;
    padding: 10px;
    border-radius: 50px;
}

.light-mode-content{
    --background: #fff;
    padding: 20px;
    border-radius: 8px;
}
.dark-mode-content{
    --background: #51284F;
    padding: 20px;
    border-radius: 8px;
}

.modal-publicitario{
    height: 100%; /* Ajusta la altura según tus necesidades */
    max-height: 100vh; /* Establece la altura máxima como el 50% del viewport height */
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 18vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}

.thumbnail{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

