<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="P2622C"></ion-menu-button>
    </ion-buttons>
    <ion-title>Programa general</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [ngClass]="(isModeLight) ? 'light-mode-content' : 'dark-mode-content' " >
  <app-not-found *ngIf="!found"/>
  <div [style.display]="found ? 'block' : 'none'" >
    <ion-fab vertical="bottom" style="--background:#653165;" horizontal="end" slot="fixed">
      <div (click)="scrollToTop()" class="fab-button">
        <ion-icon size="large" color="light" name="arrow-up-outline"></ion-icon>
      </div>
    </ion-fab>
    <app-actividades></app-actividades>
  </div>
  <!---MODAL de PUBLICIDAD-->
  <ion-modal mode="ios" trigger="open-modal" (willDismiss)="onWillDismiss($event)"
    class="modal-publicitario" backdropDismiss="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <ion-img [alt]="anuncio.texto_alt" [src]="anuncio.imagen" (click)="enlace(anuncio.url)"/>
        <!-- Contenido del modal de publicidad-->
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
